In [1]:
import os

import numpy as np 
import pandas as pd

# load the databases
# note that specifying the encoding here was important to getting them to load properly
base_dir = '/Users/dcard/Dropbox/CMU/ARK/terrorism/databases/'
gtd = pd.read_csv(os.path.join(base_dir, 'gtd', 'globalterrorismdb_0617dist.csv'), header=0, encoding='ISO-8859-1', low_memory=False)
rand = pd.read_csv(os.path.join(base_dir, 'RAND', 'RAND_Database_of_Worldwide_Terrorism_Incidents.csv'), header=0, encoding='ISO-8859-1', low_memory=False)

In [2]:
# look at a snapshot of the GTD database
gtd.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [45]:
# display all of the columns in the GTD database
print(gtd.loc[0])

eventid                              197000000001
iyear                                        1970
imonth                                          7
iday                                            2
approxdate                                    NaN
extended                                        0
resolution                                    NaN
country                                        58
country_txt                    Dominican Republic
region                                          2
region_txt            Central America & Caribbean
provstate                                     NaN
city                                Santo Domingo
latitude                                  18.4568
longitude                                -69.9512
specificity                                     1
vicinity                                        0
location                                      NaN
summary                                       NaN
crit1                                           1
crit2                                           1
crit3                                           1
doubtterr                                       0
alternative                                   NaN
alternative_txt                               NaN
multiple                                        0
success                                         1
suicide                                         0
attacktype1                                     1
attacktype1_txt                     Assassination
                                 ...
propextent                                    NaN
propextent_txt                                NaN
propvalue                                     NaN
propcomment                                   NaN
ishostkid                                       0
nhostkid                                      NaN
nhostkidus                                    NaN
nhours                                        NaN
ndays                                         NaN
divert                                        NaN
kidhijcountry                                 NaN
ransom                                          0
ransomamt                                     NaN
ransomamtus                                   NaN
ransompaid                                    NaN
ransompaidus                                  NaN
ransomnote                                    NaN
hostkidoutcome                                NaN
hostkidoutcome_txt                            NaN
nreleased                                     NaN
addnotes                                      NaN
scite1                                        NaN
scite2                                        NaN
scite3                                        NaN
dbsource                                     PGIS
INT_LOG                                         0
INT_IDEO                                        0
INT_MISC                                        0
INT_ANY                                         0
related                                       NaN
Name: 0, Length: 135, dtype: object

In [47]:
# look at a snapshot of the RAND database
rand.head()

,Date,City,Country,Perpetrator,Weapon,Injuries,Fatalities,Description
0,1-May-73,Kabul,Afghanistan,Black December,Firearms,0,0,AFGHANISTAN. A member of the Pakistani Black ...
1,14-Feb-79,Kabul,Afghanistan,Other,Firearms,0,1,AFGHANISTAN. The U.S. Ambassador to Afghanis...
2,7-Sep-79,Kabul,Afghanistan,Unknown,Firearms,0,6,AFGHANISTAN. Six West Germans were shot and k...
3,8-Sep-79,Kabul,Afghanistan,Unknown,Unknown,1,0,"AFGHANISTAN. Lt. Col. Michael Cavanaugh, a U...."
4,9-Sep-79,NaN,Afghanistan,Other,Firearms,1,2,AFGHANISTAN. Afghanistan rebels ambushed a to...

In [48]:
# convert the dates in the RAND database to year, month, day
from datetime import datetime
datetimes = [pd.to_datetime(d) for d in rand['Date']]
years = [d.year for d in datetimes]
months = np.array([d.month for d in datetimes], dtype=int)
days = np.array([d.day for d in datetimes], dtype=int)
rand['iyear'] = years
rand['imonth'] = months
rand['iday'] = days
rand.head()

,Date,City,Country,Perpetrator,Weapon,Injuries,Fatalities,Description,iyear,imonth,iday
0,1-May-73,Kabul,Afghanistan,Black December,Firearms,0,0,AFGHANISTAN. A member of the Pakistani Black ...,1973,5,1
1,14-Feb-79,Kabul,Afghanistan,Other,Firearms,0,1,AFGHANISTAN. The U.S. Ambassador to Afghanis...,1979,2,14
2,7-Sep-79,Kabul,Afghanistan,Unknown,Firearms,0,6,AFGHANISTAN. Six West Germans were shot and k...,1979,9,7
3,8-Sep-79,Kabul,Afghanistan,Unknown,Unknown,1,0,"AFGHANISTAN. Lt. Col. Michael Cavanaugh, a U....",1979,9,8
4,9-Sep-79,NaN,Afghanistan,Other,Firearms,1,2,AFGHANISTAN. Afghanistan rebels ambushed a to...,1979,9,9

In [50]:
# take a subset of events from GTD that are specified as taking place in the United States
gtd_us = gtd[gtd['country_txt'] == 'United States']
gtd_us.shape

(2758, 135)

In [51]:
# do the same for the RAND database
rand_us = rand[rand['Country'] == 'United States']
rand_us.shape

(567, 11)

In [70]:
# create a new database to hold the merged records
df_merged = pd.DataFrame(columns=['iyear', 'imonth', 'iday', 'City', 'Country', 'rand', 'gtd', 'n_matches'])
count = 0
# look through every event in the RAND database
for i in rand_us.index:
    # extract the year, month, day, city, and description
    year = rand_us.loc[i, 'iyear']
    month = rand_us.loc[i, 'imonth']
    day = rand_us.loc[i, 'iday']
    city = str(rand_us.loc[i, 'City'])
    rand_desc = str(rand_us.loc[i, 'Description'])
    # exclude those that don't specify a city
    if city != 'nan':
        # correct for naming conventions
        if city == 'Washington, D.C.' or city == 'Washington, DC':
            city = 'Washington'
        # look for records in GTD with the same year, month, day, and city
        matches = gtd_us[(gtd_us['iyear'] == year) & (gtd_us['imonth'] == month) & (gtd_us['iday'] == day) & (gtd_us['city'] == city)]
        # if there is at least one match, store the first one, and note how many matches there were
        if len(matches) > 0:
            n_matches = len(matches.index)
            first_match = matches.index[0]
            gtd_desc = matches.loc[first_match, 'summary']
            # add the merged record to the new DataFrame
            df_merged.loc[count] = [year, month, day, city, 'United States', rand_desc, gtd_desc, n_matches]
            count += 1

In [71]:
# see how many merged events we found
df_merged.shape

(323, 8)

In [73]:
# look at the distribution of the number of matches 
np.bincount(np.array(df_merged['n_matches'], dtype=int))

array([  0, 254,  44,   5,  18,   2])

In [ ]:
# most (254) are matching to a unique event in GTD

In [63]:
# print a list of city values in the GTD to look for weird names
set(gtd_us['city'].values)

{'Afton',
 'Aguada',
 'Aguadilla',
 'Aibonito',
 'Akron',
 'Alameda',
 'Alamogordo',
 'Albany',
 'Albertville',
 'Albion',
 'Albuquerque',
 'Alexandria',
 'Alhambra',
 'Altadena',
 'Alton',
 'Amarillo',
 'Ames',
 'Amherst',
 'Anaheim',
 'Anamosa',
 'Ann Arbor',
 'Annapolis',
 'Appleton',
 'Aptos',
 'Arcata',
 'Arecibo',
 'Arivaca',
 'Arlington',
 'Asbury',
 'Asheville',
 'Ashland',
 'Ashville',
 'Astoria',
 'Athens',
 'Atherton',
 'Atlanta',
 'Auburn',
 'Augusta',
 'Aurora',
 'Austin',
 'Axton',
 "Bailey's Crossroads",
 'Bakersfield',
 'Baltimore',
 'Baraboo',
 'Barnegat',
 'Batavia',
 'Baton Rouge',
 'Baxter Springs',
 'Bayamon',
 'Beaumont',
 'Bedford Park',
 'Bel Air',
 'Bellevue',
 'Bellflower',
 'Bellingham',
 'Belmont',
 'Ben Lomond',
 'Bend',
 'Berkeley',
 'Berlin',
 'Bessemer',
 'Bethesda',
 'Beverly Hills',
 'Biggsville',
 'Billings',
 'Birmingham',
 'Blooming Grove',
 'Bloomington',
 'Bluefield',
 'Boca Raton',
 'Boise',
 'Bonners Ferry',
 'Borinquen',
 'Boston',
 'Boulder',
 'Bozeman',
 'Brainerd',
 'Braintree',
 'Brentwood',
 'Bridgeport',
 'Bridgeton',
 'Brighton',
 'Bristol',
 'Broken Arrow',
 'Brookline',
 'Buckeystown',
 'Buffalo',
 'Bullard',
 'Burien',
 'Burlingame',
 'Burlington',
 'Burns',
 'Caguas',
 'Cairo',
 'Caldwell',
 'Camano',
 'Cambridge',
 'Camden',
 'Canton',
 'Capitola',
 'Carlisle',
 'Carmichael',
 'Carolina',
 'Carson City',
 'Casa Grande',
 'Cayey',
 'Century',
 'Cerritos',
 'Champaign',
 'Chandler',
 'Chantilly',
 'Chapel Hill',
 'Charleston',
 'Charlotte',
 'Charlottesville',
 'Chattanooga',
 'Cherry Hill',
 'Chester',
 'Chicago',
 'Chico',
 'Chula Vista',
 'Cicero',
 'Cidra',
 'Cieba',
 'Cincinnati',
 'Claremont',
 'Clatskanie',
 'Cle Elum',
 'Clearwater',
 'Cleveland',
 'Cloverdale',
 'Coachella',
 'Coamo',
 "Coeur D'Alene",
 'Colerain',
 'College Park',
 'College Station',
 'Colorado Springs',
 'Columbia',
 'Columbus',
 'Compton',
 'Concord',
 'Condado',
 'Coos Bay',
 'Coral Gables',
 'Cordelia',
 'Corinth',
 'Corona',
 'Corvallis',
 'Covington',
 'Cullman',
 'Culver City',
 'Cumming',
 'Cupertino',
 'Dallas',
 'Danbury',
 'Davenport',
 'Davis',
 'Dayton',
 'Daytona Beach',
 'DeWitt',
 'Decatur',
 'Deer Park',
 'Delaware City',
 'Deming',
 'Denver',
 'Des Moines',
 'Des Plaines',
 'Detroit',
 'Dewitt',
 'Dixon',
 'Dobbs Ferry',
 'Dorado',
 'Doraville',
 'Dover',
 'Dundalk',
 'East Lansing',
 'East Los Angeles',
 'East Meadow',
 'East St. Louis',
 'Eastchester',
 'Edgemont',
 'Edison',
 'Edmonds',
 'Edwardsville',
 'El Granada',
 'El Monte',
 'El Toro',
 'Eldridge',
 'Elizabeth',
 'Elmont',
 'Emeryville',
 'Endicott',
 'Erie',
 'Escanaba',
 'Estacada',
 'Eugene',
 'Eureka',
 'Evanston',
 'Everett',
 'Fairbanks',
 'Fairfield',
 'Fairport',
 'Fairton',
 'Fajardo',
 'Falls Church',
 'Fargo',
 'Farley',
 'Fayetteville',
 'Fitchburg',
 'Flagstaff',
 'Folcroft',
 'Forest Grove',
 'Forest Lake',
 'Fort Benning',
 'Fort Collins',
 'Fort Davis',
 'Fort Lauderdale',
 'Fort Lupton',
 'Fort Myers',
 'Fort Pierce',
 'Fort Smith',
 'Fort Wayne',
 'Franklin',
 'Freedom',
 'Freeport',
 'Fremont',
 'Fresno',
 'Fullerton',
 'Fulton',
 'Gadsden',
 'Gainesville',
 'Galesburg',
 'Garden Grove',
 'Garland',
 'Gifford',
 'Girard',
 'Glen Burnie',
 'Glen Cove',
 'Glendale',
 'Granada Hills',
 'Grand Canyon',
 'Grand Chute',
 'Grand Forks',
 'Grand Rapids',
 'Granite City',
 'Grants Pass',
 'Greeleyville',
 'Green Bay',
 'Greenburgh',
 'Greencastle',
 'Greenland',
 'Greensboro',
 'Greenville',
 'Guanica',
 'Guayama',
 'Guaynabo',
 'Hagerstown',
 'Hammond',
 'Hannibal',
 'Hanover',
 'Harrison',
 'Hartford',
 'Hato Rey',
 'Hattiesburg',
 'Haverhill',
 'Hawthorne',
 'Hayden',
 'Hayden Lake',
 'Hayward',
 'Helena',
 'Hemet',
 'Hempstead',
 'Hialeah',
 'Hillsborough',
 'Hoboken',
 'Hollister',
 'Hollywood',
 'Honolulu',
 'Houghton',
 'Houston',
 'Humacao',
 'Huntington',
 'Huntington Beach',
 'Hyattsville',
 'Hyder',
 'Independence',
 'Indian Head',
 'Indianapolis',
 'Ingelwood',
 'Inwood',
 'Iowa City',
 'Irvine',
 'Isla Vista',
 'Island in the Forks',
 'Ithaca',
 'Jackson',
 'Jacksonville',
 'Jennings',
 'Jericho',
 'Jersey City',
 'Johnstown',
 'Joliet',
 'Joplin',
 'Juana Diaz',
 'Kailua',
 'Kalamazoo',
 'Kalispell',
 'Kannapolis',
 'Kansas City',
 'Kent',
 'Keyes',
 'Keystone',
 'Killeen',
 'Knoxville',
 'La Jolla',
 'Lafayette',
 'Laguna Gardens',
 'Laguna Niguel',
 'Lake Forest',
 'Lake Los Angeles',
 'Lake Worth',
 'Lakedale',
 'Lamoille',
 'Lancaster',
 'Langley Park',
 'Laredo',
 'Las Cruces',
 'Las Vegas',
 'Lathrup Village',
 'Laurel',
 'Lawrence',
 'Lawrenceville',
 'Leavenworth',
 'Levittown',
 'Lewiston',
 'Lilburn',
 'Lincoln',
 'Litchfield',
 'Little Rock',
 'Littleton',
 'Livermore',
 'Livingston',
 'Lockland',
 'Logan',
 'Lombard',
 'Long Beach',
 'Longview',
 'Los Altos',
 'Los Altos Hills',
 'Los Angeles',
 'Los Gatos',
 'Louisville',
 'Lowell',
 'Lubbock',
 'MIami',
 'Macon',
 'Madison',
 'Manati',
 'Manchester',
 'Manhattan Beach',
 'Manning',
 'Maple Grove',
 'Marietta',
 'Marina',
 'Marion',
 'Marlborough',
 'Martinez',
 'Martiny',
 'Maryland Heights',
 'Maryville',
 'Mayaguez',
 'McCook',
 'McLean',
 'Medford',
 'Medina',
 'Melbourne',
 'Melrose',
 'Melville',
 'Memphis',
 'Menlo Park',
 'Merced',
 'Meriden',
 'Mesick',
 'Mesquite',
 'Metter',
 'Miami',
 'Miami Beach',
 'Middle Island',
 'Middleburg Heights',
 'Mill Valley',
 'Miller Place',
 'Millville',
 'Milpitas',
 'Milwaukee',
 'Mineola',
 'Minneapolis',
 'Missoula',
 'Mobile',
 'Modesto',
 'Monmouth',
 'Montebello',
 'Monterey',
 'Montgomery',
 'Morganton',
 'Morrison',
 'Mount Carroll',
 'Mount Gilead',
 'Mount Sinai',
 'Mount Vernon',
 'Mountain Brook',
 'Mountain View',
 'Murphy',
 'Murray',
 'Naguabo',
 'Naranjito',
 'Nashville',
 'Nassau county',
 'Needham',
 'Nevada City',
 'New Bedford',
 'New Britain',
 'New Castle',
 'New City',
 'New Haven',
 'New London',
 'New Orleans',
 'New York City',
 'Newark',
 'Newburyport',
 'Newport Beach',
 'Newport News',
 'Newton',
 'Niwot',
 'Nogales',
 'Norfolk',
 'Norman',
 'Norris',
 'North Vernon',
 'Northborough',
 'Northbrook',
 'Northridge',
 'Norwalk',
 'Novato',
 'Oak Creek',
 'Oakland',
 'Oakland Park',
 'Oakridge',
 'Oakwood',
 'Ocala',
 'Ogden',
 'Ohiowa',
 'Oklahoma City',
 'Olema',
 'Olympia',
 'Omaha',
 'Oneonta',
 'Onondaga',
 'Opelika',
 'Oregon City',
 'Orland Park',
 'Orlando',
 'Oskaloosa',
 'Overland Park',
 'Oxford',
 'Oxnard',
 'Pacific Beach',
 'Palo Alto',
 'Palo Verde',
 'Paramount',
 'Paramus',
 'Pasadena',
 'Paterson',
 'Pelham Manor',
 'Pendleton',
 'Pensacola',
 'Penuelas',
 'Peoria',
 'Perrysburg',
 'Perryville',
 'Petaluma',
 'Philadelphia',
 'Phoenix',
 'Pima County Estates',
 'Pine Ridge',
 'Piperton',
 'Pittsburgh',
 'Placentia',
 'Plainfield',
 'Plano',
 'Pleasanton',
 'Plymouth',
 'Pomona',
 'Ponce',
 'Pontiac',
 'Portland',
 'Prairie du Sac',
 'Princeton',
 'Providence',
 'Provo',
 'Pueblo',
 'Puerto Nuevo',
 'Pullman',
 'Quincy',
 'Rainier',
 'Rapid City',
 'Reading',
 'Reasnor',
 'Redding',
 'Redlands',
 'Redmond',
 'Redwood City',
 'Reisterstown',
 'Reno',
 'Renton',
 'Revere',
 'Richfield',
 'Richmond',
 'Richmond Heights',
 'Rio Grande',
 'Rio Piedras',
 'Riverside',
 'Roanoke',
 'Robbinsdale',
 'Rochester',
 'Rock Springs',
 'Rockford',
 'Rockville',
 'Rocky Mount',
 'Rodeo',
 'Rolling Hills Estates',
 'Rossmore',
 'Roswell',
 'Rotterdam',
 'Rutherford',
 'Sabana Seca',
 'Sacramento',
 'Salem',
 'Salida',
 'Salinas',
 'Salt Lake City',
 'Sammamish',
 'San Antonio',
 'San Bernardino',
 'San Bruno',
 'San Diego',
 'San Francisco',
 'San German',
 'San Geronimo',
 'San Jose',
 'San Juan',
 'San Leandro',
 'San Luis Obispo',
 'San Mateo',
 'San Pedro',
 'San Quentin',
 'San Rafael',
 'San Simeon',
 'Sandy',
 'Santa Ana',
 'Santa Barbara',
 'Santa Clara',
 'Santa Cruz',
 'Santa Fe',
 'Santa Fe Springs',
 'Santa Isabel',
 'Santa Monica',
 'Santa Rosa',
 'Santurce',
 'Sausalito',
 'Savannah',
 'Schaumburg',
 'Schenectady',
 'Scotia',
 'Scott Lake',
 'Scottsdale',
 'Seabrook',
 'Seaside Park',
 'Seattle',
 'Seboruco',
 'Seven Corners',
 'Seward',
 'Shakopee',
 'Shanksville',
 'Shelton',
 'Silver Spring',
 'Sioux Falls',
 'Skokie',
 'Snohomish',
 'Somerville',
 'Sonoma',
 'South Sioux City',
 'Spanish Valley',
 'Sparta',
 'Spokane',
 'Spokane Valley',
 'Springdale',
 'Springfield',
 'St. Albans',
 'St. Charles',
 'St. Cloud',
 'St. Louis',
 'St. Paul',
 'St. Petersburg',
 'Stamford',
 'Stateline',
 'Stockton',
 'Storrs',
 'Strasburg',
 'Strong',
 'Stuart',
 'Suitland',
 'Summit',
 'Sutter Creek',
 'Sylvania',
 'Sylvester',
 'Syracuse',
 'Tacoma',
 'Tallahassee',
 'Tamarac',
 'Tampa',
 'Tarrytown',
 'Tempe',
 'Terre Haute',
 'Texarkana',
 'The Dalles',
 'Thousand Oaks',
 'Toa Baja',
 'Toledo',
 'Tomah',
 'Torrance',
 'Tracy',
 'Triangle',
 'Trona',
 'Tucson',
 'Tukwila',
 'Tulsa',
 'Tupelo',
 'Tuscaloosa',
 'Tyngsborough',
 'Ukiah',
 'Union',
 'Union City',
 'Unknown',
 'Urbana',
 'Utica',
 'Vacaville',
 'Vail',
 'Vallejo',
 'Valley Falls',
 'Vancouver',
 'Vega Baja',
 'Venice',
 'Ventura',
 'Vernon',
 'Vieques',
 'Villamar',
 'Virginia Beach',
 'Viroqua',
 'Visalia',
 'Wakefield',
 'Walnut Creek',
 'Waltham',
 'Warren',
 'Warrensville Heights',
 'Warrenville',
 'Warwick',
 'Washington',
 'Watertown',
 'Waukesha',
 'Wauwatosa',
 'Webster',
 'Weehawken',
 'Weirton',
 'Wellesley',
 'Wenden',
 'West',
 'West Covina',
 'West Des Moines',
 'West Jordan',
 'West Lake Hills',
 'West Orange',
 'West Palm Beach',
 'West Point',
 'Westminster',
 'Westmont',
 'Wheaton',
 'Whitefish Bay',
 'Whitewater',
 'Wichita',
 'Williamsport',
 'Wimauma',
 'Woodbridge',
 'Woodinville',
 'Woodside',
 'Worcester',
 'Wounded Knee',
 'Wrightsville',
 'Yakima',
 'Yamhill',
 'Yauco',
 'Youngstown',
 'Ypsilanti',
 'Yuba City'}

In [64]:
# do the same for RAND
set(rand_us['City'].values)

{'Albany',
 'Albertville',
 'Albuquerque',
 'Alhambra',
 'Anaheim',
 'Astoria',
 'Atlanta',
 'Auburn',
 'Austin',
 'Baltimore',
 'Bellingham',
 'Berkeley',
 'Bethesda',
 'Birmingham',
 'Bloomington',
 'Boca Raton',
 'Boston',
 'Cambridge',
 'Charlottesville',
 'Chicago',
 'Chico',
 'Clatskanie',
 'Coral Gables',
 'De Kalb',
 'Dearborn',
 'Detroit',
 'East Lansing',
 'Elizabeth',
 'Ellettsville',
 'Emeryville',
 'Erie',
 'Estacada',
 'Eugene',
 'Falls Church Virginia',
 'Fargo',
 'Fort Lauderdale',
 'Fresno',
 'Ft. Hood',
 'Galveston',
 'Garden Grove',
 'Girard',
 'Glen Cove',
 'Glendale',
 'Granada Hills',
 'Grangeville, Idaho',
 'Greenville',
 'Hagerstown',
 'Hialeah',
 'Hoboken',
 'Hollywood',
 'Houghton, Michigan',
 'Houston',
 'Irvine',
 'Jacksonville',
 'Key Biscayne',
 'Key West',
 'Laguna Woods',
 'Langley',
 'Leavenworth',
 'Lincoln',
 'Little Rock',
 'Long Island',
 'Los Angeles',
 'Martiny',
 'Medford',
 'Miami',
 'Middle Island',
 'Miller Place',
 'Minneapolis',
 'Monmouth',
 'Montgomery',
 'Mount Sinai',
 'New Orleans',
 'New York City',
 'Niwot',
 'North Vernon',
 'Oakland',
 'Ogden',
 'Oklahoma City',
 'Oxford',
 'Pacific Beach',
 'Philadelphia',
 'Pittsburgh',
 'Port Elizabeth',
 'Portland',
 'Provo',
 'Queens',
 'Redmond',
 'Richmond',
 'Rockville',
 'Roseville',
 'Sammamish',
 'San Diego',
 'San Francisco',
 'Sandy Springs',
 'Santa Barbara',
 'Santa Cruz',
 'Santa Monica',
 'Scottsdale',
 'Seattle',
 'Shaklee',
 'Shanksville',
 'Snohomish',
 'Snohomish County',
 'St. Paul',
 'Sumerville',
 'Sutter Creek',
 'Tacoma',
 'Tampa',
 'Torrance',
 'Tucson',
 'Umatilla',
 'Union City',
 'University City',
 'Vail',
 'Viroqua',
 'Visalia',
 'Washington, D.C.',
 'Washington, DC',
 'Weehawken',
 'West Covina',
 'West Jordan',
 'West Old Town',
 'Wichita',
 nan}

In [3]:
# from a quick glance, only Washington DC needs extra care